*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    background-image: url(../img/pb2.jpg);
}
.fondoal {
    width: 100%;
    height: auto;
}
.h1__index {
    font-size: 3em;
    color: $colorTitulo;
    font-family: $font_titulo;
    margin: 15px 0;
}
.titulo {
    font-size: 3em;
    color: $colorTitulo;
    text-align: center;
    font-family: 'Acme', sans-serif;
}
.center {
    text-align: center;
}
.centrado {
    text-align: center;
}
a, a:visited {
    text-decoration: none;
    color: none;
}