*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.titulo {
    font-size: 3em;
    color: $colorTitulo;
    text-align: center;
    font-family: 'Acme', sans-serif;
    margin-bottom: 0;
}
.center {
    text-align: center;
}
.centrado {
    text-align: center;
}
a, a:visited {
    text-decoration: none;
    color: none;
}