footer {
    background-color: #FF946F;
    width: 100%;
    height: fit-content;
    display: flex;
    text-align: center;
    justify-content: center;
    margin-top: 15px;
    .footer__info {
        font-weight: 500;
        font-size: 2em;
        font-family: 'Roboto', sans-serif;
        color: rgb(55, 55, 255);
        align-self: center;
    }
    a {
        text-decoration: none;
        .fa-brands {
            font-size: 3em;
            margin: 30px;
            text-decoration: none;
            color: rgb(55, 55, 255);
            &:hover {
                text-decoration: none;
                color: rgb(55, 55, 255);
            }
        }
        &:hover {
            text-decoration: none;
        }
    }
}

.footer-contacto{
    margin-top: auto;
}
.footer-descargas {
    margin-top: auto;
}