@media (max-width: 768px) {
	.main__nosotros{
		grid-template-columns: 100vw;
		grid-template-rows: auto;
		grid-template-areas: 
		"presentacion"
		"profile"
		"map"
		"imagenes";
	}
    .nosotros__profile {
        flex-wrap: wrap;
        align-items: center;
    }
    .nosotros__imagenes {
        display: flex;
        flex-direction: column;
        text-align: center;
        margin: 15px 0;
    }
    .nosotros__oficina {
        display: flex;
        flex-direction: column;
    }
    .nosotros__map {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-self: center;
        width: 70vw;
        margin: 0 auto;
    }
    .text-card{
        font-size: 1.2em;
    }
    /*media query de pantalla "que-ofrecemos" */
    .conteiner__ofrecemos {
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: auto;
        grid-template-areas: 
        "nav"
        "titulo"
        "main"
        "aside"
        "pie";
    }
    .aside__ofrecemos {
        grid-area: aside;
        border-top: solid black;
        border-right: none;
        margin-left: 15px;
        margin-bottom: 15px;
        text-align: center;
    }
    /*media query para footer en general*/
    footer {
        display: flex;
        flex-direction: column;
        height: 10vh;
    }
    .footer__info {
        display: none;
    }
    /*media query para index*/
    .conteiner-index {
        height: 50vh;
    }
    .nav__name {
        font-size: 0.9em;
    }
    .h1-index {
        margin-top: 15px;
    }
    .main__Article {
        display: flex;
        flex-direction: column;
    }
    .list-group {
        margin: 0 10px;
    }
    .slide img {
        height: 34vh;
    }
    .v-80 {
        display: flex;
        margin: 0 auto;
    }

}

@media (max-width: 420px) {
footer {
    display: flex;
    flex-direction: column;
    height: 20vh;
}
.conteiner-index {
    height: auto;
}
}