.navbar {
    .container-fluid {
        background-color: $navColor;
    }
    .nav__name{
        font-family: 'Lobster', cursive;
        font-size: 35px;
        font-weight: 500;
        color: black;
        text-decoration: none;
        padding-left: 10px;
        &:hover {
            text-decoration: none;
            color: black;
        }
    }
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: auto;
    width: 100%;
    padding: 0;
        ul {
        display: flex;
        li {
            list-style: none;
            margin: 15px;
            font-family: 'Acme', sans-serif;
            font-size: 1.2em;
            color: black;
            a:visited{
                text-decoration: none;
                font-size: x-large;
                &:hover {
                    color: black;
                    font-weight: 700;
                }
            }
        }
    }
}

