@import "_vars";
@import "_fonts";
@import "_navbar";
@import "_commons";
@import "_mixings";
@import "_footer";

//index// 
.index__logo {
    height: 250px;
    width: 250px;
    margin: 15px 0;
}

.main__Index{
    align-items: center;
}
.slide img {
    height: 34vh;
}
.v-80 {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
}

.latido {
    margin: 15px 0px;
    animation: latido 2s;
    color: map-get($map: $paleta, $key: "invierno");
    font-family: 'Lobster', cursive;
    font-weight: 400;
}
@keyframes latido {
    from { transform: none; }
    50% { transform: scale(1.1); }
    to { transform: none; }
}
.main__Article {
        display: flex;
        flex-direction: row;
        justify-content: space-around;
    }
        .main__figure {
            display: flex;
            flex-direction: column;
            padding: 15px 30px;
        }
            .fa-calculator {
                @extend .imgFonts;
            }
            .figure__figcapt {
                margin-top: 10px;
                font-size: 2em;
                font-weight: 400;
                color: rgb(24, 7, 41);
                text-align: center;
                font-family: 'Acme', sans-serif;
            }
        .main__figure {
            display: flex;
            flex-direction: column;
            padding: 15px 30px;
        }
            .fa-folder-open {
                @extend .imgFonts;
            }
        figcaption{
            .figure__figcapt {
                margin-top: 10px;
                font-size: 2em;
                font-weight: 400;
                color: rgb(24, 7, 41);
                text-align: center;
                font-family: 'Acme', sans-serif;
            }
        }
        .main__figure {
            display: flex;
            flex-direction: column;
            padding: 15px 30px;
        }
            .fa-headphones {
                @extend .imgFonts;
            }
        figcaption{
            .figure__figcapt {
                margin-top: 10px;
                font-size: 2em;
                font-weight: 400;
                color: rgb(24, 7, 41);
                text-align: center;
                font-family: 'Acme', sans-serif;
            }
        }
    a {
            .main__figure {
                display: flex;
                flex-direction: column;
                padding: 15px 30px;
            }
                .fa-hand-point-down {
                    @extend .imgFonts;
                }
            figcaption{
                .figure__figcapt {
                    margin-top: 10px;
                    font-size: 2em;
                    font-weight: 400;
                    color: rgb(24, 7, 41);
                    text-align: center;
                    font-family: 'Acme', sans-serif;
                }
            }
}
.figure__imagen {
    height: 200px;
    width: 200px;
    align-self: center;
}

//end index//

//quienes-somos// 

.qs__Figure {
    text-align: center;
}

.nosotros__oficina {
    display: flex;
    justify-content: space-around;
    margin: 15px;
}
.nombres {
    font-family: $font_titulo;
    font-size: 2em;
    color: $colorTitulo;
}
.nosotros__presentacion {
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.nosotros__profile {
    display: flex;
    margin: 15px 15%;
    padding: 15px 20px;
    text-align: center;
    justify-content: center;
}
.nosotros__map {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 40rem;
    margin: 0 auto;
}
.nosotros__imagenes {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}
//end quienes-somos// 

// pagina contacto.html // 
main {
    .main__Contacto {
        text-align: center;
        h2 {
            @extend .titulo;
        }
        .fa-envelope {
            font-size: 7em;
            text-align: center;
        }
        .fa-whatsapp {
            font-size: 7em;
            text-align: center;
        }
    }
    .texto__contacto {
        font-family: 'Acme', sans-serif;
        font-size: larger;
        font-weight: 400;
        margin: 20px 10px;
        animation: fade-inout 1s infinite alternate;
        transform-origin: center;
    }
    .contenedor__link{
        margin: 15px 0px;
        .link__cuestionario {
            text-decoration: none;
            color: blueviolet;
            font-family: 'Acme', sans-serif;
            font-size: 1.5em;
        }
    }
}
@keyframes fade-inout {
    0%{ opacity: 1;}
    100%{ opacity: 0;}
}
// ends contacto // 

// que ofrecemos // 

.conteiner__ofrecemos {
    display: grid;
    grid-template-columns: 20vw 79vw;
    grid-template-rows: auto;
    grid-template-areas: 
    "nav nav"
    "titulo titulo"
    "aside main"
    "pie pie";
}
.article__queOfrecemos {
    margin: 15px;
    justify-content: center;
    text-align: center;
    display: flex;
    flex-direction: column;
    background-color: #fff0e2;
}
.aside__ofrecemos {
    grid-area: aside;
    border-right: solid black;
    margin-left: 15px;
    margin-bottom: 15px;
}

.pie__ofrecemos {
    grid-area: pie;
    background-color: #FF946F;
}
.main__ofrecemos {
    grid-area: main;
    display: grid;
    gap: 1rem;
    grid-auto-rows: 22rem;
    grid-template-columns: repeat(auto-fill, minmax(15rem, 1fr));
}
.titulo__ofrecemos {
    grid-area: titulo;
    margin: 15px 0;
}
.nav__ofrecemos {
    grid-area: nav;
}

.fa-magnifying-glass {
    @extend .imgFonts;
}

.fa-hand-holding-dollar {
    @extend .imgFonts;
}
.fa-cc-visa {
    @extend .imgFonts;
}
.fa-paypal {
    @extend .imgFonts;
}

// ends que ofrecemos// 

// queremos conocerte // 
.contacto__form {
    margin: 15px;
    text-align: center;
}
// ends queremos conocerte // 
// descargas // 
.list-group {
    margin: 20px 40vw;
}
// ends descargas // 

@import "_mediaq";