@import "_vars";
@import "_fonts";
@import "_navbar";
@import "_commons";
@import "_mixings";
@import "_footer";

//index// 
.index__logo {
    height: 250px;
    width: 250px;
    margin: 20px 0;
}

.main__Index{
    align-items: center;
}
.slide img {
    height: 34vh;
}


.conteiner-index {
    background: url(../img/oficext.jpg) no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    -ms-display: flex;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
}
.texto-paralax {
    margin: 20px 0;
}
.novedades {
    font-family: 'Acme', sans-serif;
    font-size: 2em;
    font-weight: 400;
    margin: 20px 10px;
    color: map-get($map: $paleta, $key: "invierno");
    animation: fade-inout 1.5s infinite alternate;
    transform-origin: center;
}
@keyframes fade-inout {
    0%{ opacity: 1;}
    100%{ opacity: 0.2;}
}
.main__Article {
        display: flex;
        flex-direction: row;
        justify-content: space-around;
    }
        .main__figure {
            display: flex;
            flex-direction: column;
            padding: 15px 30px;
        }
            .fa-calculator {
                @extend .imgFonts;
            }
            .figure__figcapt {
                margin-top: 10px;
                font-size: 2em;
                font-weight: 400;
                color: rgb(24, 7, 41);
                text-align: center;
                font-family: 'Acme', sans-serif;
            }
        .main__figure {
            display: flex;
            flex-direction: column;
            padding: 15px 30px;
        }
            .fa-folder-open {
                @extend .imgFonts;
            }
        figcaption{
            .figure__figcapt {
                margin-top: 10px;
                font-size: 2em;
                font-weight: 400;
                color: rgb(24, 7, 41);
                text-align: center;
                font-family: 'Acme', sans-serif;
            }
        }
        .main__figure {
            display: flex;
            flex-direction: column;
            padding: 15px 30px;
        }
            .fa-headphones {
                @extend .imgFonts;
            }
        figcaption{
            .figure__figcapt {
                margin-top: 10px;
                font-size: 2em;
                font-weight: 400;
                color: rgb(24, 7, 41);
                text-align: center;
                font-family: 'Acme', sans-serif;
            }
        }
    a {
            .main__figure {
                display: flex;
                flex-direction: column;
                padding: 15px 30px;
            }
                .fa-hand-point-down {
                    @extend .imgFonts;
                }
            figcaption{
                .figure__figcapt {
                    margin-top: 10px;
                    font-size: 2em;
                    font-weight: 400;
                    color: rgb(24, 7, 41);
                    text-align: center;
                    font-family: 'Acme', sans-serif;
                }
            }
}
.figure__imagen {
    height: 200px;
    width: 200px;
    align-self: center;
}

//end index//

//quienes-somos// 

.nosotros__presentacion {
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.nosotros__profile {
    display: flex;
    margin: 15px 15%;
    padding: 15px 20px;
    justify-content: center;
    .qs__Figure {
        text-align: center;
        background-color: #fff0e2;
        .img-fluid {
            width: 300px;
            height: 300px;
        }
    }
    .qs__Figure:hover {
        background-color: rgb(244, 229, 245);
        transform: scale(1.05);
    }
    /* aca no uso & para el hover porque automaticamente junta el efecto para ambas
    cards a la vez. Si lo dejo como .qs__Figure:hover toma el efecto por separado 
    para cada una de las cards. Solo por ese motivo evito el correcto uso de la semantica */
    .card {
        align-items: center;
        margin: 10px 10px;
    }
}
.nosotros__map {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 35rem;
    margin: 0 auto;
}

.nombres {
    font-family: $font_titulo;
    font-size: 2em;
    color: $colorTitulo;
}




.nosotros__imagenes {
    display: flex;
    flex-direction: column;
    text-align: center;
    margin: 15px 30%;
}
//end quienes-somos// 

// pagina contacto.html // 
.body-contacto {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    .main__Contacto {
        text-align: center;
        margin: 20px 0;
        h2 {
            @extend .titulo;
        }
        .fa-envelope {
            font-size: 7em;
            text-align: center;
            margin: 20px 0;
        }
        .fa-whatsapp {
            font-size: 7em;
            text-align: center;
        }
    }
    .latido {
        margin: 15px 30px;
        animation: latido 2s;
        color: black;
        font-family: $font_texto;
        font-weight: 400;
        font-size: 1.3em;
    }
    @keyframes latido {
        from { transform: none; }
        50% { transform: scale(1.08); }
        to { transform: none; }
    }
    .contenedor__link{
        margin: 20px 0px;
        .link__cuestionario {
            text-decoration: none;
            color: map-get($map: $paleta, $key: "invierno");
            font-family: 'Acme', sans-serif;
            font-size: 1.5em;
        }
    }
}

// ends contacto // 

// que ofrecemos // 
.conteiner__ofrecemos {
    display: grid;
    grid-template-columns: 20vw auto;
    grid-template-rows: auto;
    grid-template-areas: 
    "nav nav"
    "titulo titulo"
    "aside main"
    "pie pie";
    .main__ofrecemos {
        grid-area: main;
        display: grid;
        gap: 1rem;
        grid-auto-rows: 22rem;
        grid-template-columns: repeat(auto-fill, minmax(15rem, 1fr));
        .article__queOfrecemos {
            margin: 15px;
            padding: 15px;
            justify-content: center;
            text-align: center;
            display: flex;
            flex-direction: column;
            background-color: #fff0e2;
            .fa-magnifying-glass {
                @extend .imgFonts;
            }        
            .fa-hand-holding-dollar {
                @extend .imgFonts;
            }
                    .fa-cc-visa {
                @extend .imgFonts;
            }
                    .fa-paypal {
                @extend .imgFonts;
            }
        }
    }
    .aside__ofrecemos {
        grid-area: aside;
        border-right: solid black;
        margin-left: 15px;
        margin-bottom: 15px;
        padding-right: 5px;
    }
    
    .pie__ofrecemos {
        grid-area: pie;
        background-color: #FF946F;
    }
    
    .titulo__ofrecemos {
        grid-area: titulo;
        margin: 15px 0;
    }
    .nav__ofrecemos {
        grid-area: nav;
    }
    
}

// ends que ofrecemos// 

// queremos conocerte // 
.contacto__form {
    margin: 15px;
    text-align: center;
    .btn {
        color: $colorTitulo;
        background-color: $navColor;
        font-family: $font_titulo;
        margin: 5px;
        &:hover {
            background-color: $navColor;
            color: $colorTitulo;
            transform: scale(1.1);
        }
    }
}

// ends queremos conocerte // 
// descargas // 
.body-descargas{
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    .list-group {
        margin: 20px 30%;
        text-align: center
    }
}

// ends descargas // 

.error {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 20vh;
    .h-error {
        font-family: $font_texto;
        font-size: 3em;
        text-align: center;
    }
    #calculadora {
        height: 450px;
        width: 550px;
    }
    
}

@import "_mediaq";