.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: auto;
  width: 100%;
  padding: 0;
}
.navbar .container-fluid {
  background-color: rgba(238, 91, 5, 0.5);
}
.navbar .nav__name {
  font-family: "Lobster", cursive;
  font-size: 35px;
  font-weight: 500;
  color: black;
  text-decoration: none;
  padding-left: 10px;
}
.navbar .nav__name:hover {
  text-decoration: none;
  color: black;
}
.navbar ul {
  display: flex;
}
.navbar ul li {
  list-style: none;
  margin: 15px;
  font-family: "Acme", sans-serif;
  font-size: 1.2em;
  color: black;
}
.navbar ul li a:visited {
  text-decoration: none;
  font-size: x-large;
}
.navbar ul li a:visited:hover {
  color: black;
  font-weight: 700;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.titulo, .body-contacto .main__Contacto h2 {
  font-size: 3em;
  color: #4b0566;
  text-align: center;
  font-family: "Acme", sans-serif;
  margin-bottom: 0;
}

.center {
  text-align: center;
}

.centrado {
  text-align: center;
}

a, a:visited {
  text-decoration: none;
  color: none;
}

/* extends */
.imgFonts, .conteiner__ofrecemos .main__ofrecemos .article__queOfrecemos .fa-paypal, .conteiner__ofrecemos .main__ofrecemos .article__queOfrecemos .fa-cc-visa, .conteiner__ofrecemos .main__ofrecemos .article__queOfrecemos .fa-hand-holding-dollar, .conteiner__ofrecemos .main__ofrecemos .article__queOfrecemos .fa-magnifying-glass, a .fa-hand-point-down, .fa-headphones, .fa-folder-open, .fa-calculator {
  font-size: 7em;
  text-align: center;
}

.titulo, .body-contacto .main__Contacto h2 {
  font-size: 3.2em;
  color: #4b0566;
  text-align: center;
  font-family: "Acme", sans-serif;
}

.texto {
  font-family: "Roboto Serif", serif;
  font-size: 1.6em;
  margin: 20px 15px;
}

/* maps */
footer {
  background-color: #FF946F;
  width: 100%;
  height: fit-content;
  display: flex;
  text-align: center;
  justify-content: center;
  margin-top: 15px;
}
footer a {
  text-decoration: none;
}
footer a .fa-brands {
  font-size: 3em;
  margin: 30px;
  text-decoration: none;
  color: rgb(55, 55, 255);
}
footer a .fa-brands:hover {
  text-decoration: none;
  color: rgb(55, 55, 255);
}
footer a:hover {
  text-decoration: none;
}

.footer__info {
  font-weight: 500;
  font-size: 2em;
  font-family: "Roboto", sans-serif;
  color: rgb(55, 55, 255);
  align-self: center;
}

.footer-contacto {
  margin-top: auto;
}

.footer-descargas {
  margin-top: auto;
}

.conteiner-index {
  background: url(../img/oficext.jpg) no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  -ms-display: flex;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
}
.conteiner-index .texto-paralax {
  margin: 20px 0;
}
.conteiner-index .index__logo {
  height: 250px;
  width: 250px;
  margin: 20px 0;
}

.novedades {
  font-family: "Acme", sans-serif;
  font-size: 2em;
  font-weight: 400;
  margin: 20px 10px;
  color: #074DFF;
  animation: fade-inout 1.5s infinite alternate;
  transform-origin: center;
}

@keyframes fade-inout {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0.2;
  }
}
.main__Article {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

.main__figure {
  display: flex;
  flex-direction: column;
  padding: 15px 30px;
}

.figure__figcapt {
  margin-top: 10px;
  font-size: 2em;
  font-weight: 400;
  color: rgb(24, 7, 41);
  text-align: center;
  font-family: "Acme", sans-serif;
}

.main__figure {
  display: flex;
  flex-direction: column;
  padding: 15px 30px;
}

figcaption .figure__figcapt {
  margin-top: 10px;
  font-size: 2em;
  font-weight: 400;
  color: rgb(24, 7, 41);
  text-align: center;
  font-family: "Acme", sans-serif;
}

.main__figure {
  display: flex;
  flex-direction: column;
  padding: 15px 30px;
}

figcaption .figure__figcapt {
  margin-top: 10px;
  font-size: 2em;
  font-weight: 400;
  color: rgb(24, 7, 41);
  text-align: center;
  font-family: "Acme", sans-serif;
}

a .main__figure {
  display: flex;
  flex-direction: column;
  padding: 15px 30px;
}
a figcaption .figure__figcapt {
  margin-top: 10px;
  font-size: 2em;
  font-weight: 400;
  color: rgb(24, 7, 41);
  text-align: center;
  font-family: "Acme", sans-serif;
}

.nosotros__presentacion {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.nosotros__profile {
  display: flex;
  margin: 15px 15%;
  padding: 15px 20px;
  justify-content: center;
  /* aca no uso & para el hover porque automaticamente junta el efecto para ambas
  cards a la vez. Si lo dejo como .qs__Figure:hover toma el efecto por separado 
  para cada una de las cards. Solo por ese motivo evito el correcto uso de la semantica */
}
.nosotros__profile .qs__Figure {
  text-align: center;
  background-color: #fff0e2;
}
.nosotros__profile .qs__Figure .img-fluid {
  width: 300px;
  height: 300px;
}
.nosotros__profile .qs__Figure .nombres {
  font-family: "Acme", sans-serif;
  font-size: 2em;
  color: #4b0566;
}
.nosotros__profile .qs__Figure:hover {
  background-color: rgb(244, 229, 245);
  transform: scale(1.05);
}
.nosotros__profile .card {
  align-items: center;
  margin: 10px 10px;
}

.nosotros__map {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 35rem;
  margin: 0 auto;
}
.nosotros__map .mapa {
  height: 350px;
}

.nosotros__imagenes {
  display: flex;
  flex-direction: column;
  text-align: center;
  margin: 15px 30%;
}

.body-contacto {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}
.body-contacto .main__Contacto {
  text-align: center;
  margin: 20px 0;
}
.body-contacto .main__Contacto .fa-envelope {
  font-size: 7em;
  text-align: center;
  margin: 20px 0;
}
.body-contacto .main__Contacto .fa-whatsapp {
  font-size: 7em;
  text-align: center;
}
.body-contacto .latido {
  margin: 15px 30px;
  animation: latido 2s;
  color: black;
  font-family: "Roboto Serif", serif;
  font-weight: 400;
  font-size: 1.3em;
}
@keyframes latido {
  from {
    transform: none;
  }
  50% {
    transform: scale(1.08);
  }
  to {
    transform: none;
  }
}
.body-contacto .contenedor__link {
  margin: 20px 0px;
}
.body-contacto .contenedor__link .link__cuestionario {
  text-decoration: none;
  color: #074DFF;
  font-family: "Acme", sans-serif;
  font-size: 1.5em;
}

.conteiner__ofrecemos {
  display: grid;
  grid-template-columns: 20vw auto;
  grid-template-rows: auto;
  grid-template-areas: "nav nav" "titulo titulo" "aside main" "pie pie";
}
.conteiner__ofrecemos .main__ofrecemos {
  grid-area: main;
  display: grid;
  gap: 1rem;
  grid-auto-rows: 22rem;
  grid-template-columns: repeat(auto-fill, minmax(15rem, 1fr));
}
.conteiner__ofrecemos .main__ofrecemos .article__queOfrecemos {
  margin: 15px;
  padding: 15px;
  justify-content: center;
  text-align: center;
  display: flex;
  flex-direction: column;
  background-color: #fff0e2;
}
.conteiner__ofrecemos .aside__ofrecemos {
  grid-area: aside;
  border-right: solid black;
  margin-left: 15px;
  margin-bottom: 15px;
  padding-right: 5px;
}
.conteiner__ofrecemos .pie__ofrecemos {
  grid-area: pie;
  background-color: #FF946F;
}
.conteiner__ofrecemos .titulo__ofrecemos {
  grid-area: titulo;
  margin: 15px 0;
}
.conteiner__ofrecemos .nav__ofrecemos {
  grid-area: nav;
}

.contacto__form {
  margin: 15px;
  text-align: center;
}
.contacto__form .btn {
  color: #4b0566;
  background-color: rgba(238, 91, 5, 0.5);
  font-family: "Acme", sans-serif;
  margin: 5px;
}
.contacto__form .btn:hover {
  background-color: rgba(238, 91, 5, 0.5);
  color: #4b0566;
  transform: scale(1.1);
}

.body-descargas {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}
.body-descargas .list-group {
  margin: 20px 30%;
  text-align: center;
}

.error {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 20vh;
}
.error .h-error {
  font-family: "Roboto Serif", serif;
  font-size: 3em;
  text-align: center;
}
.error #calculadora {
  height: 450px;
  width: 550px;
}

@media (max-width: 768px) {
  .main__nosotros {
    grid-template-columns: 100vw;
    grid-template-rows: auto;
    grid-template-areas: "presentacion" "profile" "map" "imagenes";
  }
  .nosotros__profile {
    flex-wrap: wrap;
    align-items: center;
    margin: 15px 10px;
  }
  .nosotros__imagenes {
    display: flex;
    flex-direction: column;
    text-align: center;
    margin: 15px 0;
  }
  .nosotros__oficina {
    display: flex;
    flex-direction: column;
  }
  .nosotros__map {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-self: center;
    width: 90vw;
    margin: 0 auto;
  }
  .text-card {
    font-size: 1.2em;
  }
  /*media query de pantalla "que-ofrecemos" */
  .conteiner__ofrecemos {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: auto;
    grid-template-areas: "nav" "titulo" "main" "aside" "pie";
  }
  .aside__ofrecemos {
    grid-area: aside;
    border-top: solid black;
    border-right: none;
    margin-left: 15px;
    margin-bottom: 15px;
    text-align: center;
  }
  /*media query para footer en general*/
  footer {
    display: flex;
    flex-direction: column;
    height: 20vh;
  }
  .footer__info {
    display: none;
  }
  /*media query para index*/
  .conteiner-index {
    height: auto;
  }
  .nav__name {
    font-size: 0.9em;
  }
  .h1-index {
    margin-top: 15px;
  }
  .main__Article {
    display: flex;
    flex-direction: column;
  }
  .list-group {
    margin: 0 10px;
  }
  .slide img {
    height: 34vh;
  }
  .v-80 {
    display: flex;
    margin: 0 auto;
  }
}
@media (max-width: 420px) {
  footer {
    height: 10vh;
  }
  .conteiner-index {
    height: auto;
  }
  .nav__name {
    font-size: 25px;
  }
  .error {
    margin-top: 20px;
  }
}
/* cargo este import abajo porque no lo tomaba sino. */

/*# sourceMappingURL=main.css.map */
