*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    background-image: url(../img/pb2.jpg);
}
a, a:visited {
    text-decoration: none;
    color: none;
}
.nav__logo {
    width: 75px;
    height: 75px;
}
.fondoal {
    width: 100%;
    height: auto;
}
/*nav */
nav {
    background-color: rgba(238, 91, 5, 0.5);
    padding: 6px 20px;
    height: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: auto;
    width: 100%;
}
nav ul {
    display: flex;
}
nav ul li {
    list-style: none;
    margin: 15px;
    padding: 15px;
    font-family: 'Acme', sans-serif;
    font-size: 1.2em;
    color: black;
}
nav ul li a {
    text-decoration: none;
    font-size: x-large;
}
nav ul li a:hover{
    color: black;
    font-weight: 700;
}
.container-fluid {
    background-color: rgba(238, 91, 5, 0.5);
}
/* termina nav */
/*footer*/
footer {
    background-color: #FF946F;
    width: 100%;
    height: fit-content;
    display: flex;
    text-align: center;
    justify-content: center;
}
footer a {
    text-decoration: none;
    
}
.footer__info {
    font-weight: 500;
    font-size: 2em;
    font-family: 'Roboto', sans-serif;
    color: rgb(68, 30, 104);
    align-self: center;
}

.fa-brands {
    font-size: 3em;
    margin: 30px;
    text-decoration: none;
}

/*ends footer*/
/*header*/
.center {
    text-align: center;
}
/*ends header*/
.titulo {
    font-size: 2em;
    color: rgb(75, 5, 102);
    text-align: center;
}
.main__Index{
    align-items: center;
}
.main__Slide {
    height: 300px;
    width: auto;
    margin: 15px 0px;
    display: flex;
    justify-content: space-around;
}
.main__Article {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}
.main__figure {
    display: flex;
    flex-direction: column;
    padding: 15px 30px;
}
.figure__imagen {
    height: 200px;
    width: 200px;
    align-self: center;
}
.figure__figcapt {
    margin-top: 10px;
    font-size: 2em;
    font-weight: 400;
    color: rgb(24, 7, 41);
    text-align: center;
    font-family: 'Acme', sans-serif;
}
.head__queOfrecemos {
    margin: 20px 0px;
}
.article__queOfrecemos {
    width: fit-content;
    margin: 15px;
    text-align: center;
    display: flex;
    flex-direction: column;
    overflow: hidden;
}
.descargas__mainTable {
    margin: 25px 40%;
}
.contacto__form {
    margin: 15px;
    text-align: center;
}
#select__form {
    margin: 15px;
    text-align: center;
}
.qs__Figure {
    text-align: center;
}
.fa-headphones {
    font-size: 7em;
    text-align: center;
}
.fa-magnifying-glass {
    font-size: 7em;
    text-align: center;
}
.fa-calculator {
    font-size: 7em;
    text-align: center;
}
.fa-folder-open {
    font-size: 7em;
    text-align: center;
}
.fa-hand-holding-dollar {
    font-size: 7em;
    text-align: center;
}
.fa-envelope {
    font-size: 7em;
    text-align: center;
}
.fa-whatsapp {
    font-size: 7em;
    text-align: center;
}
.titulo__Vc {
    font-family: 'Lobster', cursive;
    font-size: 4em;
    margin: 15px 0px;
}
.main__Contacto {
    text-align: center;
}
.centrado {
    text-align: center;
}
.mapita {
    align-self: center;
}
.nosotros__oficina {
    display: flex;
    justify-content: space-around;
    margin: 15px;
}
.nosotros__presentacion {
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.nosotros__profile {
    display: flex;
    margin: 15px 15%;
    padding: 15px 20px;
    text-align: center;
}
.nosotros__map {
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.nosotros__imagenes {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}
.aside__ofrecemos {
    grid-area: aside;
    border-right: solid black;
    margin-left: 15px;
    margin-bottom: 15px;
}
.conteiner__ofrecemos {
    display: grid;
    grid-template-columns: 20vw 80vw;
    grid-template-rows: auto;
    grid-template-areas: 
    "nav nav"
    "titulo titulo"
    "aside main"
    "pie pie";
}
.pie__ofrecemos {
    grid-area: pie;
    background-color: #FF946F;
}
.main__ofrecemos {
    grid-area: main;
    display: grid;
    gap: 1rem;
    grid-auto-rows: 22rem;
    grid-template-columns: repeat(auto-fill, minmax(15rem, 1fr));
}
.titulo__ofrecemos {
    grid-area: titulo;
}
.nav__ofrecemos {
    grid-area: nav;
}
.texto__contacto {
    font-family: 'Acme', sans-serif;
    font-size: larger;
    font-weight: 400;
    margin: 20px 10px;
    animation: fade-inout 1s infinite alternate;
	transform-origin: center;
}
.contenedor__link{
    margin: 15px 0px;
}
.link__cuestionario {
    text-decoration: none;
    color: blueviolet;
    font-family: 'Acme', sans-serif;
    font-size: 1.5em;
}
.latido {
    margin: 15px 0px;
    animation: latido 2s;
    color: brown;
    font-family: 'Lobster', cursive;
    font-weight: 400;
}
@keyframes fade-inout {
    0%{ opacity: 1;}
    100%{ opacity: 0;}
}
@keyframes latido {
    from { transform: none; }
    50% { transform: scale(1.1); }
    to { transform: none; }
}
/*media query de pantalla "sobre-nosotros" */
@media (max-width: 768px) {
	.main__nosotros{
		grid-template-columns: 100vw;
		grid-template-rows: auto;
		grid-template-areas: 
		"presentacion"
		"profile"
		"map"
		"imagenes";
	}
    .nosotros__profile {
        flex-wrap: wrap;
        align-items: center;
    }
    .nosotros__imagenes {
        display: flex;
        flex-direction: column;
        align-items: center;
        flex-wrap: wrap;
    }
    .nosotros__oficina {
        display: flex;
        flex-direction: column;
    }
    .nosotros__map {
        display: flex;
        flex-direction: column;
        justify-content: center;
        width: 70vw;
        margin: 0 auto;
        align-self: center;
    }
    /*media query de pantalla "que-ofrecemos" */
    .conteiner__ofrecemos {
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: auto;
        grid-template-areas: 
        "nav"
        "titulo"
        "main"
        "aside"
        "pie";
    }
    .aside__ofrecemos {
        grid-area: aside;
        border-top: solid black;
        border-right: none;
        margin-left: 15px;
        margin-bottom: 15px;
        text-align: center;
    }
    /*media query para footer en general*/
    footer {
        display: flex;
        flex-direction: column;
        height: fit-content;
    }
    /*media query para index*/
    .main__Article {
        display: flex;
        flex-direction: column;
    }
}